extends ../base_sub.pug 

block sub-name1 
    | Biology 11 

block list-1
    span.cl-stream Diversity in Living World 
    li.subject 
        a(href="/bio_ch1_11")
            | 1.The Living World 
            hr.hover
    li.subject 
        a(href="/bio_ch2_11")
            | 2.Biological Classification 
            hr.hover
    
    li.subject 
        a(href="/bio_ch3_11")
            | 3.Plant Kingdom 
            hr.hover
    li.subject 
        a(href="/bio_ch4_11")
            | 4.Animal Kingdom 
            hr.hover
    hr 
    span.cl-stream Structural Organisation in Plants and Animals  
    li.subject 
        a(href="/bio_ch5_11")
            | 5.Morphology of Flowerig Plants 
            hr.hover
    li.subject 
        a(href="/bio_ch6_11")
            | 6.Anatomy of Flowering Plants 
            hr.hover
    li.subject 
        a(href="/bio_ch7_11")
            | 7.Structural Organisation in Animals 
            hr.hover
    hr 
    span.cl-stream Cell-Structure and Functions
    li.subject 
        a(href="/bio_ch8_11")
            | 8.Cell: The Unit of Life 
            hr.hover
    li.subject 
        a(href="/bio_ch9_11")
            | 9.Biomolecules 
            hr.hover
    li.subject 
        a(href="/bio_ch10_11")
            | 10.Cell Cycle and Cell Division 
            hr.hover
    

block sub-name2 
    | biology class 11

block list-2 
    span.cl-stream Plant Physiology 
    li.subject 
        a(href="/bio_ch11_11")
            | 11.Transport in Plants 
            hr.hover
    li.subject 
        a(href="/bio_ch12_11")
            | 12.Mineral Nutrition 
            hr.hover
    li.subject 
        a(href="/bio_ch13_11")
            | 13.Photosynthesis in Higher Plants  
            hr.hover
    li.subject 
        a(href="/bio_ch14_11")
            | 14.Respiration in Plants 
            hr.hover
    li.subject 
        a(href="/bio_ch15_11")
            | 15.Plant Growth and Developement 
            hr.hover
    hr 
    span.cl-stream Human Physiology 
    li.subject 
        a(href="/bio_ch16_11")
            | 16.Digestion and Absorption 
            hr.hover
    li.subject 
        a(href="/bio_ch17_11")
            | 17.Breathing and Exchange of Gases 
            hr.hover
    li.subject 
        a(href="/bio_ch18_11")
            | 18.Body Fluids and Circulation
            hr.hover
    li.subject 
        a(href="/bio_ch19_11")
            | 19.Excretory Products and Their Elimination 
            hr.hover
    li.subject 
        a(href="/bio_ch20_11")
            | 20.Locomotion and Movement 
            hr.hover
    li.subject 
        a(href="/bio_ch21_11")
            | 21.Neural Control and Coordination 
            hr.hover
    li.subject 
        a(href="/bio_ch22_11")
            | 22.Chemical Coordination and Integration 
            hr.hover
    