extends ../base_sub.pug 

block sub-name1
    | Computer 11

block list-1 
    li.subject 
        a(href="/computer_assign")
            | Notebook Assignments  
            hr.hover 
    li.subject 
        a(href="/computer_programs_term_1")
            | Programs Term-1
            hr.hover 
    li.subject 
        a(href="/computer_programs_term_2")
            | Programs Term-2
            hr.hover 
    li.subject 
        a(href="/computer_theory_term_2")
            | Theory Term-2
            hr.hover 

block sub-name2 
    | Computer 11
block list-2 
    | No need to study the chapters from book.

