extends ../base_sub.pug 

block sub-name1
    | Computer 11

block list-1 
    li.subject 
        a(href="/computer_programs")
            | Python programs 
            hr.hover 
    li.subject 
        a(href="/computer_ch1_11")
            | 1.Basic Computer Organization 
            hr.hover 
    li.subject 
        a(href="/computer_ch2_11")
            | 2.Computer Software and Operating System 
            hr.hover 
    li.subject 
        a(href="/computer_ch3_11")
            | 3.Boolean Logic 
            hr.hover 
    li.subject 
        a(href="/computer_ch4_11")
            | 4.Basic Concept of Data Representation 
            hr.hover 
    li.subject 
        a(href="/computer_ch5_11")
            | 5.Flowcharts 
            hr.hover 
    li.subject 
        a(href="/computer_ch6_11")
            | 6.Basic Computational Thinking
            hr.hover 
    li.subject 
        a(href="/computer_ch7_11")
            | 7.Overview of Python 
            hr.hover 
    li.subject 
        a(href="/computer_ch8_11")
            | 8.Elementry concepts of Python 
            hr.hover 
    li.subject 
        a(href="/computer_ch9_11")
            | 9.Input/Output in Puthon 
            hr.hover 
    li.subject 
        a(href="/computer_ch10_11")
            | 10.Operations and Expressions in Python 
            hr.hover 
    li.subject 
        a(href="/computer_ch11_11")
            | 11.Conditional Statements in Python 
            hr.hover 
    li.subject 
        a(href="/computer_ch12_11")
            | 12.Looping in Python 
            hr.hover 

block sub-name2
    | Computer 11

block list-2 
    li.subject 
        a(href="/computer_ch13_11")
            | 13.Handling Errors and Exceptions in Python 
            hr.hover 
    li.subject 
        a(href="/computer_ch14_11")
            | 14.Working with Loops in Python 
            hr.hover 
    li.subject 
        a(href="/computer_ch15_11")
            | 15.Working with Dictionaries and Tuples 
            hr.hover 
    li.subject 
        a(href="/computer_ch16_11")
            | 16.Working with Strings in Python 
            hr.hover 
    li.subject 
        a(href="/computer_ch17_11")
            | 17. Introduction to Python Modules 
            hr.hover 
    li.subject 
        a(href="/computer_ch18_11")
            | 18.Database Concepts 
            hr.hover 
    li.subject 
        a(href="/computer_ch19_11")
            | 19.Structured Query Language (SQL)
            hr.hover 
    li.subject 
        a(href="/computer_ch20_11")
            | 20.SQL Select Statements 
            hr.hover 
    li.subject 
        a(href="/computer_ch21_11")
            | 21.Introductin to NoSQL Database MongoDB 
            hr.hover 
    li.subject 
        a(href="/computer_ch22_11")
            | 22.Computing and Ethics 
            hr.hover 
    li.subject 
        a(href="/computer_ch23_11")
            | 23.Cyber Safety 
            hr.hover 
