extends ../base_sub.pug 

block sub-name1 
    | Hornbill 

block list-1
    span.cl-stream Short Stories 
    li.subject 
        a(href="/english_syllabus")
            | Syllabus 
            hr.hover
    li.subject 
        a(href="/english1_ch1_11")
            | 1.The Potrait of a Lady
            hr.hover
    li.subject 
        a(href="/english1_ch2_11")
            | 2.We`re Not Afraid to Die.. 
            hr.hover
    
    li.subject 
        a(href="/english1_ch3_11")
            | 3.Discovering Tut: the Saga Continues 
            hr.hover
    li.subject 
        a(href="/english1_ch4_11")
            | 4.Landscape of the Soul 
            hr.hover
    li.subject 
        a(href="/english1_ch5_11")
            | 5.Ahe Ailing Planet: the Green Movement`s Role 
            hr.hover
    li.subject 
        a(href="/english1_ch6_11")
            | 6.The Browning Version
            hr.hover
    li.subject 
        a(href="/english1_ch7_11")
            | 7.The Adventure 
            hr.hover
    li.subject 
        a(href="/english1_ch8_11")
            | 8.Silk Road 
            hr.hover
    hr 
    span.cl-stream Poems
    li.subject 
        a(href="/english1_pm1_11")
            | A Photograph 
            hr.hover
    li.subject 
        a(href="/english1_pm2_11")
            | The Laburnum Top 
            hr.hover
    li.subject 
        a(href="/english1_pm3_11")
            | The Voice of the Rain 
            hr.hover
    li.subject 
        a(href="/english1_pm4_11")
            | Childhood 
            hr.hover
    li.subject 
        a(href="/english1_pm5_11")
            | Father to Son 
            hr.hover
    
block sub-name2 
    | Snapshots 

block list-2 
    li.subject 
        a(href="/english2_ch1_11")
            | 1.The Summer of a Beautiful White Horse 
            hr.hover
    li.subject 
        a(href="/english2_ch2_11")
            | 2.The Address
            hr.hover
    li.subject 
        a(href="/english2_ch3_11")
            | 3.Ranga`s Marriage 
            hr.hover
    li.subject 
        a(href="/english2_ch4_11")
            | 5.Albert Einstein at School
            hr.hover
    li.subject 
        a(href="/english2_ch5_11")
            | 5.Mother`s Day 
            hr.hover
    li.subject 
        a(href="/english2_ch6_11")
            | 6.The Ghat of the Holy World 
            hr.hover
    li.subject 
        a(href="/english2_ch7_11")
            | 7.Birth 
            hr.hover
    li.subject 
        a(href="/english2_ch8_11")
            | 8.The Tale of Melon City 
            hr.hover
    