extends ../base_sub.pug


block sub-name1 
    | Maths 11

block list-1 
    li.subject 
        a(href="/maths_ch0_11")
            | Basic Mathematics  
            hr.hover
    li.subject 
        a(href="/maths_ch1_11")
            | 1.Sets 
            hr.hover 
    li.subject 
        a(href="/maths_ch2_11")
            | 2.Relations and Functions 
            hr.hover 
    li.subject 
        a(href="/maths_ch3_11")
            | 3.Trignometric Functions 
            hr.hover 
    li.subject 
        a(href="/maths_ch4_11")
            | 4.PMI 
            hr.hover 
    li.subject 
        a(href="/maths_ch5_11")
            |  5.CN and QE 
            hr.hover 
    li.subject 
        a(href="maths_ch6_11")
            | 6.Linear Equations 
            hr.hover 
    li.subject 
        a(href="/maths_ch7_11")
            | 7.Permutations and Combinations
            hr.hover 


block sub-name2 
    | Maths 11
block list-2 
    li.subject 
        a(href="/maths_ch8_11")
            | 8.Binomial Theorem
            hr.hover
    li.subject 
        a(href="/maths_ch9_11")
            | 9.Sequences and Series
            hr.hover
    li.subject 
        a(href="/maths_ch10_11")
            | 10.Straight Lines
            hr.hover 
    li.subject 
        a(href="/maths_ch11_11")
            | 11.Conic Sections
            hr.hover 
    li.subject 
        a(href="/maths_ch12_11")
            | 12.Introduction to TDG 
            hr.hover 
    li.subject 
        a(href="/maths_ch13_11")
            | 13.Limits and Dirivatives
            hr.hover 
    li.subject 
        a(href="/maths_ch14_11")
            | 14.Mathematical Reasoning 
            hr.hover 
    li.subject 
        a(href="/maths_ch15_11")
            | 15.Statistics
            hr.hover 
    li.subject 
        a(href="/maths_ch16_11")
            | 16.Probability
            hr.hover 
