extends ../chap_loaded.pug 


block title-space 
    a(href="/computer_11") 
        |Sylabuss
block content-space 
    div.content_space 
        a(href="https://drive.google.com/file/d/1E3WXD6w0EdDKkiSLcH5zDWLfGYyWGThA/view?usp=sharing" target='_blank') Mathematics_Sr Sec.
            i.fa.fa-arrow-right(aria-hidden='true')
        <iframe src="https://drive.google.com/file/d/1E3WXD6w0EdDKkiSLcH5zDWLfGYyWGThA/preview" width="640" height="480" allow="autoplay"></iframe>

    div.content_space 
        a(href="https://drive.google.com/file/d/1mX-AUiz1C5hi2bkYgKiFvqsZL4OeRmsj/view?usp=sharing" target='_blank') Applied Mathematics
            i.fa.fa-arrow-right(aria-hidden='true')
        <iframe src="https://drive.google.com/file/d/1mX-AUiz1C5hi2bkYgKiFvqsZL4OeRmsj/preview" width="640" height="480" allow="autoplay"></iframe>

    div.content_space 
        a(href="https://drive.google.com/file/d/19jXgEkx8-K7Nzh2z3Uivp7bfTxxJZsqF/view?usp=sharing" target='_blank') Physics 
            i.fa.fa-arrow-right(aria-hidden='true')
        <iframe src="https://drive.google.com/file/d/19jXgEkx8-K7Nzh2z3Uivp7bfTxxJZsqF/preview" width="640" height="480" allow="autoplay"></iframe>

    div.content_space 
        a(href="https://drive.google.com/file/d/1SBlO78HGbjMc2ZHGFGIJ2arNp7S0JEww/view?usp=sharing" target='_blank') Chemistry  
            i.fa.fa-arrow-right(aria-hidden='true')
        <iframe src="https://drive.google.com/file/d/1SBlO78HGbjMc2ZHGFGIJ2arNp7S0JEww/preview" width="640" height="480" allow="autoplay"></iframe>

    div.content_space 
        a(href="https://drive.google.com/file/d/1tuE1n9cJcFkMsvu_VVrqZhJ55hCdb1em/view?usp=sharing" target='_blank') Biology  
            i.fa.fa-arrow-right(aria-hidden='true')
        <iframe src="https://drive.google.com/file/d/1tuE1n9cJcFkMsvu_VVrqZhJ55hCdb1em/preview" width="640" height="480" allow="autoplay"></iframe>

    div.content_space 
        a(href="https://drive.google.com/file/d/14QwfWE2D9VAS0YBUersLmPQ9MkYfGmYJ/view?usp=sharing" target='_blank') Computer  
            i.fa.fa-arrow-right(aria-hidden='true')
        <iframe src="https://drive.google.com/file/d/14QwfWE2D9VAS0YBUersLmPQ9MkYfGmYJ/preview" width="640" height="480" allow="autoplay"></iframe>

    div.content_space 
        a(href="https://drive.google.com/file/d/1uIAPc_5kaG0kI4t5bghOsEn0TbkOMlL5/view?usp=sharing" target='_blank') English  
            i.fa.fa-arrow-right(aria-hidden='true')
        <iframe src="https://drive.google.com/file/d/1uIAPc_5kaG0kI4t5bghOsEn0TbkOMlL5/preview" width="640" height="480" allow="autoplay"></iframe>

    div.content_space 
        a(href="https://drive.google.com/file/d/1XsD3ZSCLVB73VAidgInhBRUKYW0OD3tE/view?usp=sharing" target='_blank') Hindi   
            i.fa.fa-arrow-right(aria-hidden='true')
        <iframe src="https://drive.google.com/file/d/1XsD3ZSCLVB73VAidgInhBRUKYW0OD3tE/preview" width="640" height="480" allow="autoplay"></iframe>

    div.content_space 
        a(href="https://drive.google.com/file/d/1BYhoE9UsJ837_3tYRRdVTS3uutUv6-oa/view?usp=sharing" target='_blank') Physical Education  
            i.fa.fa-arrow-right(aria-hidden='true')
        <iframe src="https://drive.google.com/file/d/1BYhoE9UsJ837_3tYRRdVTS3uutUv6-oa/preview" width="640" height="480" allow="autoplay"></iframe>
