extends ../../chap_loaded.pug 


block title-space 
    | Changing Trends and Career in PE  
block content-space 
    div.content_space 
        a(href="https://drive.google.com/file/d/11qlP_O9GVbOfT2UremZs4NbxqhGVe0Wi/view?usp=sharing" target='_blank') Theory on chapter 1 
            i.fa.fa-arrow-right(aria-hidden='true')
        <iframe src="https://drive.google.com/file/d/11qlP_O9GVbOfT2UremZs4NbxqhGVe0Wi/preview" allow="autoplay"></iframe>
    