extends  base.pug 

block styles 
    link(rel="stylesheet", href="../static/css/about.css")

block content 
    div.content_about 
        h2 About the App.
        p This is a web app where you can find all the notes and solutions of NCERT class 11 and 12. This web app is created only for educational purposes.
        p It uses a node js environment which runs in the background to serve various pages. I have used Express js and pug to prepare the template of the site and served through a free hosting site named 
            a(href="https://www.heroku.com") Heroku
            |  which provides free subdomain to serve out projects.
        
        hr
        h2 About the Founder
        img(src="../static/img/rizvi.jpg", alt="Rizvi")
        p My name is Md. Rizvi Hassan Ansari. I am a student of 11th. I am a program geek and I love coding.
        p Recently, I learnt backend in web developement and its so exciting that I could not resist myself from applying it in a fully fledged website.
        p I thought that there are many studensts who cannot write all the notes provided by the teachers and ask to toppers for the notes when the exams are at doorstep.
        p So, I though why not to create a web app which would solve their problem.
        p I have been programing in different languages since I was in 6th std. If you are interested you can visit my 
            a(href="https://code.dcoder.tech/profile/rizvi_hassan") Dcoder profile.

        p Now code on mobile with me, use my referral code rizvi_hassan and increase your points limit by 10 for free! Enjoy! Here’s the link:  
            a(href="https://invites.dcoder.tech/i1HMvgcihePGc2Sg6") https://invites.dcoder.tech/i1HMvgcihePGc2Sg6
        p If you want to see the source code of this webapp, you can see  
            a(href="https://github.com/Rizvi-hassan/Notes-wallah")  Github repo.