extends base.pug

block styles 
    link(rel="stylesheet", href="../static/css/contributers.css")

block content 
    div.content_about 
        h1 CONTRIBUTERS  
        h2 Arnav Dutta 
        img(src="../static/img/arnav.jpeg", alt="Arnav")
        p Arnav Dutta is my classmate and one of my best friends. When I discussed about the project with him, he got super excited and asked me can he also contribute and I said why not. He has been provided various notes to me. And also he is the first contributer of my website.
        hr 
