extends base.pug 

block styles 
    link(rel="stylesheet", href="../static/css/contact.css")


block content 
    div.content-contact 
        h1 CONTACT US 
        p If you have any type of doubts or want to contribute in the website, you can mail me. 
        p Not only for notes or doubts, you can even ask how the site works and other FAQs.
        p My mail address is : 
        a(href="https://mail.google.com/")  mdrizvihassanansari@gmail.com 