extends base.pug

block styles 
    link(rel="stylesheet", href="../static/css/contributers.css")

block content 
    div.content_about 
        h1 CONTRIBUTERS  
        h2 Arnav Dutta 
        img(src="../static/img/arnav.jpeg", alt="Arnav")
        p Arnav Dutta is my classmate and one of my best friends. When I discussed about the project with him, he got super excited and asked me can he also contribute and I said why not. He has provided various notes to me. And also he is the first contributer of my website.
        hr 
        h2 Koushik Hemanta 
        img(src="../static/img/kaushik.jpg", alt="Kaushik")
        p Kaushik is not my classmate but a friend as we play cricket together. At first I had no Idea about notes of class 10. When he heard about this site, he said me that he will give the notes of 10th class. I am very happy that he is helping me in building this site and I am thankful to him for this.
        hr 
        h2 Nida Parween 
        img(src="../static/img/nida.jpeg", alt="nida") 
        p As we all know that one cannot  be good in everything. Same is with me, I don`t like to write much so my copies are never up to date. But in tough time, Nida provided me the notes which was not available with me. I am thankful to her for coming forword to help me.
        br 
        //- h2 Dev Rishi Kashyap
        //- img(src="../static/img/dev.jpeg", alt="dev")
        //- p Here`s the boy who was the first with whoom I started conversation in the new schoo. He don`t need any introduction as he is the school captain. Dev Rishi is also always ready to help like nida. I am thankful to God for giving me kind friends in this new school. 