extends ../../chap_loaded.pug 


block title-space 
    a(href="/english_11") 
        |The Summer of the Beautifull 
        br
        |White horse 
block content-space 
    div.content_space 
        a(href="https://drive.google.com/file/d/1ojT5zpIazF-OwKbFb36DM_FE94wUvc7t/view?usp=sharing" target='_blank') Summary
            i.fa.fa-arrow-right(aria-hidden='true')
        <iframe src="https://drive.google.com/file/d/1ojT5zpIazF-OwKbFb36DM_FE94wUvc7t/preview" allow="autoplay"></iframe>
    
    div.content_space 
        a(href="https://drive.google.com/file/d/1iDWZlMxitmrt5nPjTIPA_xepVk_5r3wd/view?usp=sharing" target='_blank') Explanation 
            i.fa.fa-arrow-right(aria-hidden='true')
        <iframe src="https://drive.google.com/file/d/1iDWZlMxitmrt5nPjTIPA_xepVk_5r3wd/preview" allow="autoplay"></iframe>
    
    div.content_space 
        a(href="https://drive.google.com/file/d/1Uj2tXvlSvLtkVF8bAKC5arSyt1xCD9FA/view?usp=sharing" target='_blank') Question and Answers
            i.fa.fa-arrow-right(aria-hidden='true')
        <iframe src="https://drive.google.com/file/d/1Uj2tXvlSvLtkVF8bAKC5arSyt1xCD9FA/preview" allow="autoplay"></iframe>
    