extends ../../chap_loaded.pug 


block title-space 
    a(href="/english_11") 
        |Birth 
block content-space 
    div.content_space 
        a(href="https://drive.google.com/file/d/1R_Q4L-whlaLZ7DYe45ZmoXO4GtGFYMc8/view?usp=sharing" target='_blank') Questions and Answers 
            i.fa.fa-arrow-right(aria-hidden='true')
        <iframe src="https://drive.google.com/file/d/1R_Q4L-whlaLZ7DYe45ZmoXO4GtGFYMc8/preview" width="640" height="480" allow="autoplay"></iframe>