extends ../../chap_loaded.pug 


block title-space 
    | Basic Mathematics 
block content-space 
    div.content_space 
        a(href="https://drive.google.com/file/d/1dE7RwV1iHso5WzfFfYYlWs1gpU0Jdp7s/view?usp=sharing" target='_blank') Basic Mathematics notes 
            i.fa.fa-arrow-right(aria-hidden='true')
        <iframe src="https://drive.google.com/file/d/1dE7RwV1iHso5WzfFfYYlWs1gpU0Jdp7s/preview" allow="autoplay"></iframe>

