extends ../../chap_loaded.pug 


block title-space 
    a(href="/maths_11") 
        | Straight Lines  
block content-space 
    div.content_space 
        a(href="https://drive.google.com/file/d/1kwumIY7LJcXmfgQrgk1N7WbLus-jaYdW/view?usp=sharing" target='_blank') Notes on chapter 10
            i.fa.fa-arrow-right(aria-hidden='true')
        <iframe src="https://drive.google.com/file/d/1kwumIY7LJcXmfgQrgk1N7WbLus-jaYdW/preview" width="640" height="480" allow="autoplay"></iframe>
