extends ../../chap_loaded.pug 


block title-space 
    | RELATIONS AND FUNCTIONS 
block content-space 
    div.content_space 
        a(href="https://drive.google.com/file/d/1XXFF32dhlq04L9C8iVAblX6OycoYbo-n/view?usp=sharing" target='_blank') NCERT chapter 2 Notes
            i.fa.fa-arrow-right(aria-hidden='true')
        <iframe src="https://drive.google.com/file/d/1XXFF32dhlq04L9C8iVAblX6OycoYbo-n/preview"  allow="autoplay"></iframe>
        
    div.content_space 
        a(href="https://drive.google.com/file/d/1X1NutmafAXXTCPJHS1vzu3Jgmq_sQtNv/view?usp=sharing" target='_blank') NCERT chapter 2 solutions
            i.fa.fa-arrow-right(aria-hidden='true')
        <iframe src="https://drive.google.com/file/d/1X1NutmafAXXTCPJHS1vzu3Jgmq_sQtNv/preview" allow="autoplay"></iframe>
