extends ../../chap_loaded.pug 


block title-space 
    | TRIGNOMETRIC FUNCTIONS 
block content-space 
    div.content_space 
        a(href="https://drive.google.com/file/d/1XlwNiVFcGDEBbE6CvKpVaZj6bCFL8oBP/view?usp=sharing" target='_blank') NCERT chapter 3 Notes
            i.fa.fa-arrow-right(aria-hidden='true')
        <iframe src="https://drive.google.com/file/d/1XlwNiVFcGDEBbE6CvKpVaZj6bCFL8oBP/preview" allow="autoplay"></iframe>
    div.content_space 
        a(href="https://drive.google.com/file/d/1ZUr5j5oK-4NB1vh9FOL3GXkIrETOpdVv/view?usp=sharing" target='_blank') NCERT chapter 3 Solutions
            i.fa.fa-arrow-right(aria-hidden='true')
        <iframe src="https://drive.google.com/file/d/1ZUr5j5oK-4NB1vh9FOL3GXkIrETOpdVv/preview" allow="autoplay"></iframe>
    div.content_space 
        a(href="https://drive.google.com/file/d/1ZiU2hdiZOvgpscpSna9eyR6zUi_uWkHd/view?usp=sharing" target='_blank') NCERT chapter 3 Formulae 
            i.fa.fa-arrow-right(aria-hidden='true')
        <iframe src="https://drive.google.com/file/d/1ZiU2hdiZOvgpscpSna9eyR6zUi_uWkHd/preview" allow="autoplay"></iframe>