extends ../../chap_loaded.pug 


block title-space 
    a(href="/maths_11") 
        | Sequence and Series  
block content-space 
    div.content_space 
        a(href="https://drive.google.com/file/d/1ksuoyjPqQXV3R2VvkIj4UJ1Ndd3BCo2z/view?usp=sharing" target='_blank') Notes on chapter 9
            i.fa.fa-arrow-right(aria-hidden='true')
        <iframe src="https://drive.google.com/file/d/1ksuoyjPqQXV3R2VvkIj4UJ1Ndd3BCo2z/preview" width="640" height="480" allow="autoplay"></iframe>
