@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;600&family=Festive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt&family=Titillium+Web&display=swap');


.content{
    z-index: -1;
    background: linear-gradient(180deg, #000000, transparent);
    min-height: 100%;
    display: flex;
    justify-content:center;
    align-items: center;

}

.content .clas{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.cls-box{
    /* border: 2px solid; */
    width: 90%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.cls-box-inner{
    width: 50%;
    padding: 3%;
}

.content .cls{
    position: relative;
    width: 100%;
    border-radius: 1rem;
    background: rgb(250, 238, 217);
    box-shadow: 0px 0px 7px 0px #073e48;
    text-align: center;
}

.content .cls ul{
    padding: 4px;
    position: relative;
}

.content .cls h2{
    font-family: 'Titillium Web', sans-serif;
    position: relative;
    color:  #01292e ;
    margin-top: 0.4rem 0;
    width: 100%;
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
    line-height: 1.5;
}

.content .cls ul .cl-stream{
    position: relative;
    font-size: 1.6rem;
    color: grey;
    width: 100%;
    display: block;
    padding-bottom: 0.5rem;
}

.content .cls ul li{
    display: block;
    margin: 0 auto;
    width: 100%;
    list-style: none;
    line-height: 1.5;
}

.content .cls ul li a{
    display: inline-block;
    text-decoration: none;
    color: black;
    letter-spacing: 3px;
    font-weight: bold;
    overflow: hidden;
}


.hover{
    border: 1px solid black;
    width: 100%;
    transform: translateX(-101%);
    transition: transform 300ms;
}

.content .cls ul li:hover .hover{
    transform: translateX(-0%);
}

.content .phone{
    display: none;
}

@media (max-width: 680px){
    .content{
        flex-direction: column;
    }
    .content .phone{
        display: inline;
        width: 100%;
        text-align: center;
    }
    .head{
        font-family: 'Prompt', sans-serif;
        margin: 1rem 1rem ;
        display: inline-block;
        margin-bottom: 0rem;
        cursor: pointer;
    }
    .head h2{
        font-size: 1.3rem;
        text-align: center;
        line-height: 1.5;
        overflow: hidden;
    }
    .content .phone .head-line{
        border: 2px solid black;
        border-radius: 3px;
        transition: transform 300ms;
        transform: translateX(-101%);
        background-color: black;
    }
    
    #line11{
        transform: translateX(-0%);
    }

    .content .clas{
        flex-direction: row;
        min-width: 100%;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .cls-box-inner{
        min-width: 100%;
        padding: 1rem 2rem;
        transition: transform 600ms ease-in-out;
    }

    .cls{
        min-width: 100%;
        transition: margin 0.5s;
    }
    

    .cls h2{
        color: #459ba7;
    }
}


