extends ../../chap_loaded.pug 


block title-space 
    a(href="/computer_11") 
        | Notebook Assignments
block content-space 
    div.content_space 
        a(href="https://drive.google.com/file/d/1fRETu8GXwjHuSnGdo4TaaWbBC823eze3/view?usp=sharing" target='_blank') From 06/07/21 to 30/07/21
            i.fa.fa-arrow-right(aria-hidden='true')
        <iframe src="https://drive.google.com/file/d/1fRETu8GXwjHuSnGdo4TaaWbBC823eze3/preview" width="640" height="480" allow="autoplay"></iframe>
    div.content_space 
        a(href="https://drive.google.com/file/d/1vaWofm7h6zUgTFWpfJNmcYWW5aE-Vwle/view?usp=sharing" target='_blank') Boolean Logic 
            i.fa.fa-arrow-right(aria-hidden='true')
        <iframe src="https://drive.google.com/file/d/1vaWofm7h6zUgTFWpfJNmcYWW5aE-Vwle/preview" width="640" height="480" allow="autoplay"></iframe>
        
    div.content_space 
        a(href="https://drive.google.com/file/d/1HGhJJElRwrniMaiUw9L87RRdpumTmRi3/view?usp=sharing" target='_blank') Holiday Homework  
            i.fa.fa-arrow-right(aria-hidden='true')
        <iframe src="https://drive.google.com/file/d/1HGhJJElRwrniMaiUw9L87RRdpumTmRi3/preview" width="640" height="480" allow="autoplay"></iframe>
        
