extends ../../chap_loaded.pug 


block title-space 
    a(href="/computer_11") 
        | Python programs
block content-space 
    div.content_space 
        a(href="https://drive.google.com/file/d/1loExuXcJDdz_tqZm70YEYkP4M1bGXtsc/view?usp=sharing" target='_blank') From program 1 to 42
            i.fa.fa-arrow-right(aria-hidden='true')
        <iframe src="https://drive.google.com/file/d/1loExuXcJDdz_tqZm70YEYkP4M1bGXtsc/preview" width="640" height="480" allow="autoplay"></iframe>
    div.content_space 
        a(href="https://drive.google.com/file/d/1kzlviJEqwtSMhrPcMT-GS5KOXYtWBphW/view?usp=sharing" target='_blank') From 43 to 62
            i.fa.fa-arrow-right(aria-hidden='true')
        <iframe src="https://drive.google.com/file/d/1kzlviJEqwtSMhrPcMT-GS5KOXYtWBphW/preview" width="640" height="480" allow="autoplay"></iframe>
    //- span.note If anyone knows what to write in the index page then please inform me.
    div.content_space 
        a(href="https://drive.google.com/file/d/1pnICa2Tmk8m61L6g3zqrQ72StHagFeKV/view?usp=sharingx" target='_blank') From 63 to 76
            i.fa.fa-arrow-right(aria-hidden='true')
        <iframe src="https://drive.google.com/file/d/1pnICa2Tmk8m61L6g3zqrQ72StHagFeKV/preview" width="640" height="480" allow="autoplay"></iframe>
    
    //- span.note
    //-     | Note* All the programs are in serial wise order with date and output is also available. If you have copied from the previous pdfs then you are asked to match them with these progrms as some of them were wrong.
    span.note 
        | Now code on mobile with me, use my referral code rizvi_hassan and increase your points limit by 10 for free! Enjoy! Here’s the link:
        a(href="https://invites.dcoder.tech/i1HMvgcihePGc2Sg6")  https://invites.dcoder.tech/i1HMvgcihePGc2Sg6