extends ../../chap_loaded.pug 


block title-space 
    a(href="/computer_11") 
        | Python programs
block content-space 
    div.content_space 
        a(href="https://drive.google.com/file/d/1loExuXcJDdz_tqZm70YEYkP4M1bGXtsc/view?usp=sharing" target='_blank') From program 1 to 42
            i.fa.fa-arrow-right(aria-hidden='true')
        <iframe src="https://drive.google.com/file/d/1loExuXcJDdz_tqZm70YEYkP4M1bGXtsc/preview" width="640" height="480" allow="autoplay"></iframe>
    div.content_space 
        a(href="https://drive.google.com/file/d/1kzlviJEqwtSMhrPcMT-GS5KOXYtWBphW/view?usp=sharing" target='_blank') From 43 to 62
            i.fa.fa-arrow-right(aria-hidden='true')
        <iframe src="https://drive.google.com/file/d/1kzlviJEqwtSMhrPcMT-GS5KOXYtWBphW/preview" width="640" height="480" allow="autoplay"></iframe>
    //- span.note If anyone knows what to write in the index page then please inform me.
    div.content_space 
        a(href="https://drive.google.com/file/d/1yjgwMyWctt-yZdKyAyiDymniTq-Mqsrs/view?usp=sharing" target='_blank') From 63 to 76
            i.fa.fa-arrow-right(aria-hidden='true')
        <iframe src="https://drive.google.com/file/d/1yjgwMyWctt-yZdKyAyiDymniTq-Mqsrs/preview" width="640" height="480" allow="autoplay"></iframe>
    span.note 
        | Note* &nbsp&nbsp&nbsp Some progrmas or dates may differ for CS1 or CS2 students.
    div.content_space 
        a(href="https://drive.google.com/file/d/1yllrphwWhhZ-LbMZMMlY_Dw24-o-ZNQs/view?usp=sharing" target='_blank') From 77 to 86
            i.fa.fa-arrow-right(aria-hidden='true')
        <iframe src="https://drive.google.com/file/d/1yllrphwWhhZ-LbMZMMlY_Dw24-o-ZNQs/preview" width="640" height="480" allow="autoplay"></iframe>
    div.content_space 
        a(href="https://drive.google.com/file/d/17x3XOJboJFks3jldseSDdannE2ofP80h/view?usp=sharing" target='_blank') From 87 to 99
            i.fa.fa-arrow-right(aria-hidden='true')
        <iframe src="https://drive.google.com/file/d/17x3XOJboJFks3jldseSDdannE2ofP80h/preview" width="640" height="480" allow="autoplay"></iframe>

    //- span.note
    //-     | Note* All the programs are in serial wise order with date and output is also available. If you have copied from the previous pdfs then you are asked to match them with these progrms as some of them were wrong.
    span.note 
        | Now code on mobile with me, use my referral code rizvi_hassan and increase your points limit by 10 for free! Enjoy! Here’s the link:
        a(href="https://invites.dcoder.tech/i1HMvgcihePGc2Sg6")  https://invites.dcoder.tech/i1HMvgcihePGc2Sg6