extends ../../chap_loaded.pug 


block title-space 
    a(href="/computer_11") 
        | Python programs
block content-space 
    div.content_space 
        a(href="https://drive.google.com/file/d/17x3XOJboJFks3jldseSDdannE2ofP80h/view?usp=sharing" target='_blank') From 87 to 99
            i.fa.fa-arrow-right(aria-hidden='true')
        <iframe src="https://drive.google.com/file/d/17x3XOJboJFks3jldseSDdannE2ofP80h/preview" width="640" height="480" allow="autoplay"></iframe>
    div.content_space 
        a(href="https://drive.google.com/file/d/17wMhToT8hHyXIBGgXRJYDHIRXanCpszz/view?usp=sharing" target='_blank') From 100 to 107
            i.fa.fa-arrow-right(aria-hidden='true')
        <iframe src="https://drive.google.com/file/d/17wMhToT8hHyXIBGgXRJYDHIRXanCpszz/preview" width="640" height="480" allow="autoplay"></iframe>


    span.note 
        | Now code on mobile with me, use my referral code rizvi_hassan and increase your points limit by 10 for free! Enjoy! Here’s the link:
        a(href="https://invites.dcoder.tech/i1HMvgcihePGc2Sg6")  https://invites.dcoder.tech/i1HMvgcihePGc2Sg6