extends ../../chap_loaded.pug 


block title-space 
    a(href="/computer_11") 
        | Python programs
block content-space 
    //- div.content_space 
    //-     a(href="https://drive.google.com/file/d/1oMGySqzDJtSZF464-JyRM8c8hi-b6mid/view?usp=sharing" target='_blank') From 06/07/21 to 30/07/21 
    //-         i.fa.fa-arrow-right(aria-hidden='true')
    //-     <iframe src="https://drive.google.com/file/d/1oMGySqzDJtSZF464-JyRM8c8hi-b6mid/preview" width="640" height="480" allow="autoplay"></iframe>
    //- div.content_space 
    //-     a(href="https://drive.google.com/file/d/1bgFUZ9GZvVZUBsO4L_xrA085XjitVGJs/view?usp=sharing" target='_blank') From 09/08/21 to 18/08/21
    //-         i.fa.fa-arrow-right(aria-hidden='true')
    //-     <iframe src="https://drive.google.com/file/d/1bgFUZ9GZvVZUBsO4L_xrA085XjitVGJs/preview" width="640" height="480" allow="autoplay"></iframe>
    //- div.content_space 
    //-     a(href="https://drive.google.com/file/d/1wSRPG-UI5YXsOfpx-G3YCkU7TLBwLm1Q/view?usp=sharing" target='_blank') 24/08/2021
    //-         i.fa.fa-arrow-right(aria-hidden='true')
    //-     <iframe src="https://drive.google.com/file/d/1wSRPG-UI5YXsOfpx-G3YCkU7TLBwLm1Q/preview" width="640" height="480" allow="autoplay"></iframe>
    span.note
        | Note* Few programs are incorrect and they are not in order. They will be provided by tomorrow. Sorry for the inconvinience.