extends ../../chap_loaded.pug 


block title-space 
    a(href="/computer_11") 
        | Python programs
block content-space 
    div.content_space 
        a(href="https://drive.google.com/file/d/1YMJurN-YTfNpZd1Z2K-Fl24TkQAEHH43/view?usp=sharing" target='_blank') From 06/07/21 to 30/07/21 
            i.fa.fa-arrow-right(aria-hidden='true')
        <iframe src="https://drive.google.com/file/d/1YMJurN-YTfNpZd1Z2K-Fl24TkQAEHH43/preview" allow="autoplay"></iframe>
    div.content_space 
        a(href="https://drive.google.com/file/d/1hxxseIk4Oj343Ob-SDjB9wvQPh-enNj4/view?usp=sharing" target='_blank') From 09/08/21 to 18/08/21
            i.fa.fa-arrow-right(aria-hidden='true')
        <iframe src="https://drive.google.com/file/d/1hxxseIk4Oj343Ob-SDjB9wvQPh-enNj4/preview" width="640" height="480" allow="autoplay"></iframe>
    div.content_space 
        a(href="https://drive.google.com/file/d/1kMNp8RZleRWSvjwU4cdnZ8g2QG7ZP9IA/view?usp=sharing" target='_blank') 24/08/2021
            i.fa.fa-arrow-right(aria-hidden='true')
        <iframe src="https://drive.google.com/file/d/1kMNp8RZleRWSvjwU4cdnZ8g2QG7ZP9IA/preview" width="640" height="480" allow="autoplay"></iframe>
    span.note
        | Note* output of the programs are not given 