extends ../../chap_loaded.pug 


block title-space 
    a(href="/computer_11") 
        | Computer Theory 
block content-space 
    div.content_space 
        a(href="https://drive.google.com/file/d/18NvZJDcterWagMzQ3uWhZ5-tbpK4y1Cp/view?usp=sharing" target='_blank') Term 2 Theory 
            i.fa.fa-arrow-right(aria-hidden='true')
        <iframe src="https://drive.google.com/file/d/18NvZJDcterWagMzQ3uWhZ5-tbpK4y1Cp/preview" width="640" height="480" allow="autoplay"></iframe>