extends ../../chap_loaded.pug 


block title-space 
    | We`re Not Afraid to Die... 
    | if We Can All Be Together 
block content-space 
    div.content_space 
        a(href="https://drive.google.com/file/d/1viio2AHODMdReTAw2OiHCG4R2eoCa-ZI/view?usp=sharing" target='_blank') Summary
            i.fa.fa-arrow-right(aria-hidden='true')
        <iframe src="https://drive.google.com/file/d/1viio2AHODMdReTAw2OiHCG4R2eoCa-ZI/preview" allow="autoplay"></iframe>
    
    div.content_space 
        a(href="https://drive.google.com/file/d/1HuKZF-GozKDOmuxPdU-7ga_2Zf0DW1Gv/view?usp=sharing" target='_blank') Lesson Explaination 
            i.fa.fa-arrow-right(aria-hidden='true')
        <iframe src="https://drive.google.com/file/d/1HuKZF-GozKDOmuxPdU-7ga_2Zf0DW1Gv/preview" allow="autoplay"></iframe>
    
    div.content_space 
        a(href="https://drive.google.com/file/d/1ZhdTe9kUYS1vqSncc49oslJdgsRa25EE/view?usp=sharing" target='_blank') Question Answers 
            i.fa.fa-arrow-right(aria-hidden='true')
        <iframe src="https://drive.google.com/file/d/1ZhdTe9kUYS1vqSncc49oslJdgsRa25EE/preview" allow="autoplay"></iframe>