extends ../../chap_loaded.pug 


block title-space 
    | The Laburnum Top  
block content-space 
    div.content_space 
        a(href="https://drive.google.com/file/d/1rDtCwzoRZbS9YEKoRoc98P43Ii119bv6/view?usp=sharing" target='_blank') Summary
            i.fa.fa-arrow-right(aria-hidden='true')
        <iframe src="https://drive.google.com/file/d/1rDtCwzoRZbS9YEKoRoc98P43Ii119bv6/preview" allow="autoplay"></iframe>
    
    div.content_space 
        a(href="https://drive.google.com/file/d/1rDtCwzoRZbS9YEKoRoc98P43Ii119bv6/view?usp=sharing" target='_blank') Explanation 
            i.fa.fa-arrow-right(aria-hidden='true')
        <iframe src="https://drive.google.com/file/d/1q4gtAgnptPcraxDiDKrZ7ewadzdkBtm7/preview" allow="autoplay"></iframe>
    
    div.content_space 
        a(href="https://drive.google.com/file/d/1rDtCwzoRZbS9YEKoRoc98P43Ii119bv6/view?usp=sharing" target='_blank') Question Answers 
            i.fa.fa-arrow-right(aria-hidden='true')
        <iframe src="https://drive.google.com/file/d/1Z-TIW7Q0rhVtggkowNLrDiWe01YJVw36/preview" allow="autoplay"></iframe>
    