extends ../../chap_loaded.pug 


block title-space 
    a(href="/english_11") 
        | Syllabus
block content-space 
    div.content_space 
        a(href="https://drive.google.com/file/d/1KwJ94QMKHO2WJtGKJxCYLBqoL5qdp4An/view?usp=sharing" target='_blank') 
            i.fa.fa-arrow-right(aria-hidden='true')
        <iframe src="https://drive.google.com/file/d/1KwJ94QMKHO2WJtGKJxCYLBqoL5qdp4An/preview" allow="autoplay"></iframe>