extends ../../chap_loaded.pug 


block title-space 
    a(href="/biology_11") 
        | Biological Classification  
block content-space 
    div.content_space 
        a(href="https://drive.google.com/file/d/1y4OhxlRlgd65Lf3sOjW3AR6UKeTzl9SP/view?usp=sharing" target='_blank') Notes on Biological Classification
            i.fa.fa-arrow-right(aria-hidden='true')
        <iframe src="https://drive.google.com/file/d/1y4OhxlRlgd65Lf3sOjW3AR6UKeTzl9SP/preview" allow="autoplay"></iframe>
    