extends ../../chap_loaded.pug 


block title-space 
    a(href="/biology_11") 
        | Animal Kingdom 
block content-space 
    div.content_space 
        a(href="https://drive.google.com/file/d/1cD_9FpkxFuQOP2IvVxFLsZf6uCwHTkfk/view?usp=sharing" target='_blank') Notes on Animal Kingdom
            i.fa.fa-arrow-right(aria-hidden='true')
        <iframe src="https://drive.google.com/file/d/1cD_9FpkxFuQOP2IvVxFLsZf6uCwHTkfk/preview" allow="autoplay"></iframe>
    