extends ../../chap_loaded.pug 


block title-space 
    a(href="/chemistry_11") 
        | Some Basic Concepts of Chemistry 
block content-space 
    div.content_space 
        a(href="https://drive.google.com/file/d/1wvchTC4fxlLqNKOoQgAuWkM_0e-GjzG9/view?usp=sharing" target='_blank') Notes on chapter 1
            i.fa.fa-arrow-right(aria-hidden='true')
        <iframe src="https://drive.google.com/file/d/1wvchTC4fxlLqNKOoQgAuWkM_0e-GjzG9/preview" allow="autoplay"></iframe>