extends ../../chap_loaded.pug 


block title-space 
    | Structure Of Atom
block content-space 
    div.content_space 
        a(href="https://drive.google.com/file/d/13Ieb9VONQMkT1t9_zwvM3wViW6HxypWi/view?usp=sharing" target='_blank') Notes on Structure of Atom 
            i.fa.fa-arrow-right(aria-hidden='true')
        <iframe src="https://drive.google.com/file/d/13Ieb9VONQMkT1t9_zwvM3wViW6HxypWi/preview"allow="autoplay"></iframe>
    