extends ../../chap_loaded.pug 


block title-space 
    a(href="/chemistry_11") 
        | Classification of Elemenst and Periodicity in Properties 
block content-space 
    div.content_space 
        a(href="https://drive.google.com/file/d/1gMNFgnsbY6XhWlvl4_MQXn1pISpfgi0R/view?usp=sharing" target='_blank') E.C. Trends in Periodic Table 
            i.fa.fa-arrow-right(aria-hidden='true')
        <iframe src="https://drive.google.com/file/d/1gMNFgnsbY6XhWlvl4_MQXn1pISpfgi0R/preview" width="640" height="480" allow="autoplay"></iframe>