extends ../../chap_loaded.pug 


block title-space 
    a(href="/chemistry_11") 
        | Redox Reactions 
block content-space 
    div.content_space 
        a(href="https://drive.google.com/file/d/1J3W5IjLV0hd6YVHBsPYaFmpFk5B1VBqC/view?usp=sharing" target='_blank') Notes on Redox Reactions 
            i.fa.fa-arrow-right(aria-hidden='true')
        <iframe src="https://drive.google.com/file/d/1J3W5IjLV0hd6YVHBsPYaFmpFk5B1VBqC/preview" width="640" height="480" allow="autoplay"></iframe>