extends ../base_sub.pug


block sub-name1 
    | English 10

block list-1 
    span.cl-stream Language 
    li.subject 
        a(href="/english_l1_10")
            | 1.Direct and Indirect Speech 
            hr.hover 
    hr
    span.cl-stream Short Stories 
    li.subject 
        a(href="/english_ch1_10")
            | 1.A Letter to God 
            hr.hover 
    li.subject 
        a(href="/english_ch4_10")
            | 2.Nelson Mandela:Long Walk to Freedom 
            hr.hover 
    li.subject 
        a(href="english_ch6_10")
            | 3.Two Stories about Flying 
            hr.hover 
    li.subject 
        a(href="/english_ch9_10")
            | 4.From the Dairy of Anne Frank 
            hr.hover
    li.subject 
        a(href="/english_ch11_10")
            | 5.The Hundred Dresses-I 
            hr.hover 
    li.subject 
        a(href="/english_ch12_10")
            | 6.The Hundred Dresses-II 
            hr.hover 
    li.subject 
        a(href="/english_ch14_10")
            | 7.Glimpses of India 
            hr.hover 
    li.subject 
        a(href="/english_ch16_10")
            | 8.Mijbil the Otter 
            hr.hover 
    li.subject 
        a(href="/english_ch18_10")
            | 9.Madam Rides the Bus 
            hr.hover 
    li.subject 
        a(href="/english_ch20_10")
            | 10.The Sermon at Benares 
            hr.hover 
    
    li.subject 
        a(href="/english_ch22_10")
            | 11.The Proposal 
            hr.hover 
    


block sub-name2 
    | English 10
block list-2 
    span.cl-stream Poems.
    li.subject 
        a(href="/english_ch2_10")
            | #.Dust of Snow 
            hr.hover 
    li.subject 
        a(href="/english_ch3_10")
            | #.Fire and Ice 
            hr.hover 
    li.subject 
        a(href="/english_ch5_10")
            |  #.A Tiger in the Zoo 
            hr.hover 
    li.subject 
        a(href="/english_ch7_10")
            | #.How to Tell Wild Animals 
            hr.hover 
    li.subject 
        a(href="/english_ch8_10")
            | #.The ball Poem 
            hr.hover
    li.subject 
        a(href="/english_ch10_10")
            | #.Amanda 
            hr.hover 
    li.subject 
        a(href="/english_ch13_10")
            | #.Animals 
            hr.hover 
    li.subject 
        a(href="/english_ch15_10")
            | #.The Trees 
            hr.hover 
    
    
    li.subject 
        a(href="/english_ch17_10")
            | #.Fog 
            hr.hover 
    
    
    li.subject 
        a(href="/english_ch19_10")
            | #.The Tale of Custard the Dragon 
            hr.hover 
    
    li.subject 
        a(href="/english_ch21_10")
            | #.For Anne Gergory 
            hr.hover 
    