extends ../base_sub.pug


block sub-name1 
    | हिंदी 10

block list-1 
    span.cl-stream काव्य खंड
    li.subject 
        a(href="/hindi_ch1_10")
            | 1.सूरदास
            hr.hover 
    li.subject 
        a(href="/hindi_ch2_10")
            | 2.तुलसीदास
            hr.hover 
    li.subject 
        a(href="/hindi_ch3_10")
            | 3.देव
            hr.hover 
    li.subject 
        a(href="/hindi_ch4_10")
            | 4.जयशंकर प्रसाद
            hr.hover 
    li.subject 
        a(href="/hindi_ch5_10")
            |  5.सूर्यकांत त्रिपाठी 'निराला'
            hr.hover 
    li.subject 
        a(href="hindi_ch6_10")
            | 6.नागार्जुन
            hr.hover 
    li.subject 
        a(href="/hindi_ch7_10")
            | 7.गिरिजाकुमार माथुर
            hr.hover 
    li.subject 
        a(href="/hindi_ch8_10")
            | 8.ऋतुराज 
            hr.hover
    li.subject 
        a(href="/hindi_ch9_10")
            | 9.मंगलेश डबराल
            hr.hover


block sub-name2 
    |  हिंदी 10

block list-2 
    span.cl-stream गद्य खंड
    li.subject 
        a(href="/hindi_ch10_10")
            | 10.स्वयं प्रकाश
            hr.hover 
    li.subject 
        a(href="/hindi_ch11_10")
            | 11.रामवृक्ष बेनीपुरी
            hr.hover 
    li.subject 
        a(href="/hindi_ch12_10")
            | 12.यशपाल
            hr.hover 
    li.subject 
        a(href="/hindi_ch13_10")
            | 13.सर्वेश्वर दयाल सक्सेना
            hr.hover 
    li.subject 
        a(href="/hindi_ch14_10")
            | 14.मन्नू भंडारी
            hr.hover 
    li.subject 
        a(href="/hindi_ch15_10")
            | 15.महावीरप्रसाद द्विवेदी
            hr.hover 
    
    li.subject 
        a(href="/hindi_ch16_10")
            | 16.यतीन्द्र मिश्र
            hr.hover 
    
    li.subject 
        a(href="/hindi_ch17_10")
            | 17.भदंत आनंद कौसल्यायन
            hr.hover 
    
    link(rel="stylesheet", href="../../static/css/hindi_10.css")