extends ../base_sub.pug 

block sub-name1
    | Computer 10

block list-1 
    span.cl-stream Employment Skills 
    li.subject 
        a(href="/computer_ch1_10")
            | 1.Methods of Communication 
            hr.hover 
    li.subject 
        a(href="/computer_ch2_10")
            | 2.Communication Cycle 
            hr.hover 
    li.subject 
        a(href="/computer_ch3_10")
            | 3.Communication Barriers  
            hr.hover 
    li.subject 
        a(href="/computer_ch4_10")
            | 4.Effective Communication 
            hr.hover 
    li.subject 
        a(href="/computer_ch5_10")
            | 5.Basic Writing Skills 
            hr.hover 
    li.subject 
        a(href="/computer_ch6_10")
            | 6.Stress Management and its Techniques 
            hr.hover 
            
block sub-name2 
    | Computer 10 

block list-2
    span.cl-stream Employment Skills 
    li.subject 
        a(href="/computer_ch7_10")
            | 7.Ability to work Indipendently 
            hr.hover 
    li.subject 
        a(href="/computer_ch8_10")
            | 8.Operating System 
            hr.hover 
    li.subject 
        a(href="/computer_ch9_10")
            | 9.Managing Files and Folders 
            hr.hover 
    li.subject 
        a(href="/computer_ch10_10")
            | 10.Care and Maintenance of a Computer 
            hr.hover 
    li.subject 
        a(href="/computer_ch11_10")
            | 11.Enterpreneur and Entrepreneurship 
            hr.hover 
    li.subject 
        a(href="/computer_ch12_10")
            | 12.Sustainable Developement 
            hr.hover 