extends ../base_sub.pug


block sub-name1 
    | Maths 10

block list-1 

    li.subject 
        a(href="/maths_ch1_10")
            | 1.Real Numbers  
            hr.hover 
    li.subject 
        a(href="/maths_ch2_10")
            | 2.polynomials
            hr.hover 
    li.subject 
        a(href="/maths_ch3_10")
            | 3.Pair of Linear Equations in Two Variables 
            hr.hover 
    li.subject 
        a(href="/maths_ch4_10")
            | 4.Quadratic Equations  
            hr.hover 
    li.subject 
        a(href="/maths_ch5_10")
            |  5.Arithmetic Progressions
            hr.hover 
    li.subject 
        a(href="maths_ch6_10")
            | 6.Triangles 
            hr.hover 
    li.subject 
        a(href="/maths_ch7_10")
            | 7.Coordinate Geometry 
            hr.hover 
    li.subject 
        a(href="/maths_ch8_10")
            | 8.Introduction to Trignometry 
            hr.hover


block sub-name2 
    | Maths 10
block list-2 
    li.subject 
        a(href="/maths_ch9_10")
            | 9.Some Applications of Trignometry 
            hr.hover
    li.subject 
        a(href="/maths_ch10_10")
            | 10.Circles
            hr.hover 
    li.subject 
        a(href="/maths_ch11_10")
            | 11.Constructions 
            hr.hover 
    li.subject 
        a(href="/maths_ch12_10")
            | 12.Areas Related to Circles 
            hr.hover 
    li.subject 
        a(href="/maths_ch13_10")
            | 13.Surface Areas and Volumes 
            hr.hover 
    li.subject 
        a(href="/maths_ch14_10")
            | 14.Statistics 
            hr.hover 
    li.subject 
        a(href="/maths_ch15_10")
            | 15.Probability
            hr.hover 
    