extends ../base_sub.pug


block sub-name1 
    | Science 10

block list-1 
    span.cl-stream Chem.
    li.subject 
        a(href="/science_ch1_10")
            | 1.Chemical Reactions and Equations  
            hr.hover 
    li.subject 
        a(href="/science_ch2_10")
            | 2.Acids Bases and Salts 
            hr.hover 
    li.subject 
        a(href="/science_ch3_10")
            | 3.Metals and Non-metals 
            hr.hover 
    li.subject 
        a(href="/science_ch4_10")
            | 4.Carbon and its Compounds  
            hr.hover 
    li.subject 
        a(href="/science_ch5_10")
            |  5.Periodic Classification of Elements 
            hr.hover 
    hr 
    span.cl-stream Bio.
    li.subject 
        a(href="science_ch6_10")
            | 6.Life Processes 
            hr.hover 
    li.subject 
        a(href="/science_ch7_10")
            | 7.Control and Coordination 
            hr.hover 
    li.subject 
        a(href="/science_ch8_10")
            | 8.How do Organisms Reproduce?
            hr.hover


block sub-name2 
    | Science 10
block list-2 
    li.subject 
        a(href="/science_ch9_10")
            | 9.Heredity and Evolution 
            hr.hover
    hr
    span.cl-stream Phy.
    li.subject 
        a(href="/science_ch10_10")
            | 10.Light-Reflection and Refraction 
            hr.hover 
    li.subject 
        a(href="/science_ch11_10")
            | 11.The Human Eye and the Colourful World  
            hr.hover 
    li.subject 
        a(href="/science_ch12_10")
            | 12.Electricity
            hr.hover 
    li.subject 
        a(href="/science_ch13_10")
            | 13.Magnetic Effects and Electric Current 
            hr.hover 
    li.subject 
        a(href="/science_ch14_10")
            | 14.Sources of Energy
            hr.hover 
    li.subject 
        a(href="/science_ch15_10")
            | 15.Our Environment 
            hr.hover 
    
    li.subject 
        a(href="/science_ch16_10")
            | 15.Sustainable Management of Natural Resources 
            hr.hover 
    