extends ../base_sub.pug 

block sub-name1
    | Social Studies 10

block list-1 
    span.cl-stream History 
    li.subject 
        a(href="/sst_ch1_10")
            | 1.The Rise of Nationalism in Europe 
            hr.hover 
    li.subject 
        a(href="/sst_ch2_10")
            | 2.Nationalism in India 
            hr.hover 
    li.subject 
        a(href="/sst_ch3_10")
            | 3.The Making of a Global World 
            hr.hover 
    li.subject 
        a(href="/sst_ch4_10")
            | 4.The Age of Industrialisation
            hr.hover 
    li.subject 
        a(href="/sst_ch5_10")
            | 5.Print Culrure and the Modern World 
            hr.hover 
    hr
    span.cl-stream Civics 
    li.subject 
        a(href="/sst_ch6_10")
            | 1.Power Sharing 
            hr.hover 
    li.subject 
        a(href="/sst_ch7_10")
            | 2.Federalism 
            hr.hover 
    li.subject 
        a(href="/sst_ch8_10")
            | 3.Democracy and Diversity 
            hr.hover 
    li.subject 
        a(href="/sst_ch9_10")
            | 4.Gender, Religion and Caste 
            hr.hover 
            


block sub-name2 
    | Social Studies 10 

block list-2
    li.subject 
        a(href="/sst_ch10_10")
            | 5.Popular Struggles and Movements 
            hr.hover 
    li.subject 
        a(href="/sst_ch11_10")
            | 6.Political Parties 
            hr.hover 
    li.subject 
        a(href="/sst_ch12_10")
            | 7.Outcomes of Democracy 
            hr.hover 
    li.subject 
        a(href="/sst_ch13_10")
            | 8.Challanges to Democracy 
            hr.hover 
    hr
    span.cl-stream Geography 
    li.subject 
        a(href="/sst_ch14_10")
            | 1.Resources and Development 
            hr.hover 
    
    li.subject 
        a(href="/sst_ch15_10")
            | 2.Forest and Wildlife Resources 
            hr.hover 
    
    li.subject 
        a(href="/sst_ch16_10")
            | 3.Water Resources 
            hr.hover 
    
    li.subject 
        a(href="/sst_ch17_10")
            | 4.Agriculture 
            hr.hover 
    
    li.subject 
        a(href="/sst_ch18_10")
            | 5.Minerals and Energy Resources 
            hr.hover 
    
    li.subject 
        a(href="/sst_ch19_10")
            | 6.Manufacturing Industries 
            hr.hover 
    
    li.subject 
        a(href="/sst_ch20_10")
            | 7.Lifelines of National Economy 
            hr.hover 
    