extends ../../chap_loaded.pug 


block title-space 
    | Notes on Motion in Straight Line 
block content-space 
    div.content_space 
        a(href="https://drive.google.com/file/d/1Ve1kvHH_qeq3t7fwHd2iKia4dsfV4W4V/view?usp=sharing" target='_blank') NCERT chapter 3 solutions
            i.fa.fa-arrow-right(aria-hidden='true')
        <iframe src="https://drive.google.com/file/d/1Ve1kvHH_qeq3t7fwHd2iKia4dsfV4W4V/preview"  allow="autoplay"></iframe>
    
    div.content_space 
        a(href="https://drive.google.com/file/d/1VpkFlJDUZkisRbT6XuvRyznqONC2JERc/view?usp=sharing" target='_blank') Notes on ch. 3 with solved examples 
            i.fa.fa-arrow-right(aria-hidden='true')
        <iframe src="https://drive.google.com/file/d/1VpkFlJDUZkisRbT6XuvRyznqONC2JERc/preview" allow="autoplay"></iframe>
    
    div.content_space 
        a(href="https://drive.google.com/file/d/1VrOQhx_3-6LGoIYw3E7gjXZ1fvTjfyfW/view?usp=sharing" target='_blank') Chapter 3 formulae in 1 page 
            i.fa.fa-arrow-right(aria-hidden='true')
        <iframe src="https://drive.google.com/file/d/1VrOQhx_3-6LGoIYw3E7gjXZ1fvTjfyfW/preview" allow="autoplay"></iframe>

    div.content_space 
        a(href="https://drive.google.com/file/d/1W1uUFbv8w7YlR2qoB_Clw11kv82glQTL/view?usp=sharing" target='_blank') Notes on Differentiation and Intigration  
            i.fa.fa-arrow-right(aria-hidden='true')
        <iframe src="https://drive.google.com/file/d/1W1uUFbv8w7YlR2qoB_Clw11kv82glQTL/preview" allow="autoplay"></iframe>
    
