extends ../../chap_loaded.pug 


block title-space 
    | Motion in Plane 
block content-space 
    div.content_space 
        a(href="https://drive.google.com/file/d/1YBfOz0RBxY1Q1qY_UK8ZtFBar9xbXumb/view?usp=sharing" target='_blank') Notes on Motion in Plane 
            i.fa.fa-arrow-right(aria-hidden='true')
        <iframe src="https://drive.google.com/file/d/1YBfOz0RBxY1Q1qY_UK8ZtFBar9xbXumb/preview" allow="autoplay"></iframe>
    