extends ../../chap_loaded.pug 


block title-space 
    a(href="physics_11") 
        | Motion in Plane 
block content-space 
    div.content_space 
        a(href="https://drive.google.com/file/d/1I-9pGgatJuQa63naPBOBugWLJyuBY5S1/view?usp=sharing" target='_blank') Notes on Laws of Motion 
            i.fa.fa-arrow-right(aria-hidden='true')
        <iframe src="https://drive.google.com/file/d/1I-9pGgatJuQa63naPBOBugWLJyuBY5S1/preview" width="640" height="480" allow="autoplay"></iframe>
    