extends ../../chap_loaded.pug 


block title-space 
    a(href="physics_11") 
        | Work Energy and Power 
block content-space 
    div.content_space 
        a(href="https://drive.google.com/file/d/1lv6IRrwee3B6pPxfF5A41wMT8nxz6l-m/view?usp=sharing" target='_blank') Notes on Work Energy and Power 
            i.fa.fa-arrow-right(aria-hidden='true')
        <iframe src="https://drive.google.com/file/d/1lv6IRrwee3B6pPxfF5A41wMT8nxz6l-m/preview" width="640" height="480" allow="autoplay"></iframe>
    



    