extends ../../chap_loaded.pug 


block title-space 
    a(href="/physical_11") 
        | Properties of Solids   
    
block content-space 
    div.content_space 
        a(href="https://drive.google.com/file/d/17wl87ev8p7doGbd1vn7WTD7onY9qQS4n/view?usp=sharing" target='_blank') Notes on Properties of solids 
            i.fa.fa-arrow-right(aria-hidden='true')
        <iframe src="https://drive.google.com/file/d/17wl87ev8p7doGbd1vn7WTD7onY9qQS4n/preview" width="640" height="480" allow="autoplay"></iframe>