extends ../../chap_loaded.pug 


block title-space
    a(href="/physics_11") 
        | Practical work 
block content-space 
    div.content_space 
        a(href="https://drive.google.com/file/d/18wh74S5nIrlnQjrI3zL21MpUBSAFRove/view?usp=sharing" target='_blank') Practical 1 to 4
            i.fa.fa-arrow-right(aria-hidden='true')
        <iframe src="https://drive.google.com/file/d/18wh74S5nIrlnQjrI3zL21MpUBSAFRove/preview" width="640" height="480" allow="autoplay"></iframe>
    