extends ../../chap_loaded.pug 


block title-space 
    a(href="/hindi_10") 
        | पद
block content-space 
    div.content_space 
        a(href="https://drive.google.com/file/d/1SS3S5W5q_vW8IAIzaGDy-dJVc8K3koBI/view?usp=sharing" target='_blank') अभ्यास
            i.fa.fa-arrow-right(aria-hidden='true')
        <iframe src="https://drive.google.com/file/d/1SS3S5W5q_vW8IAIzaGDy-dJVc8K3koBI/preview" width="640" height="480" allow="autoplay"></iframe>